.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #000;
    color: #fff;
    padding: 0 10px;
    border-bottom: 2px solid #e7e7e7;
}
.navbar .page {
    display: flex;
    gap: 20px;
}
.navbar p, .navbar a {
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}